:root {
  --fundo: #f4f4f4;
  --fonte: #141414;
  --cor-1: #ff3300;
  --cor-2: #dc6300;
}

.bck-drk {
  background-color: #141414 !important;
  transition: 0.8s;
}

.txt-drk {
  color: #f4f4f4 !important;
  transition: 0.8s;
}

.social-button {
  color: #000000; /* Cor padrão para o modo claro */
  transition: color 0.3s ease; /* Transição suave da cor */
}

.social-button-dark {
  color: #ffffff; /* Cor branca para o modo escuro */
}
