.footer {
  background-color: var(--fundo);
  color: var(--fonte);
  text-align: center !important;
  font-size: 1.12rem;
  padding: 3em 0 3em 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.slogan {
  font-weight: lighter;
  font-size: 4em;
  text-align: start;
  line-height: 0.63;
}

.slogan strong {
  color: var(--cor-1);
}

.footer h4 {
  font-size: 3.5rem;
}

.nmrs,
.nicks {
  font-family: "Courier New", Courier, monospace;
}

.slogan {
  padding-left: 30px;
}

.subslogan {
  font-size: 5.5rem;
  color: #dc6300;
  line-height: 1.2;
}
