.footer {
  background-color: #141414;
  color: #f4f4f4;
  text-align: center !important;
  font-size: 1.12rem;
  padding: 7em 0 6em 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.slogan {
  font-weight: lighter;
  font-size: 4em;
  text-align: start;
  line-height: 0.63;
}

.slogan strong {
  color: #ff3300;
}

.footer h4 {
  font-size: 3.5rem;
}

.nmrs,
.nicks {
  font-family: "Roboto", sans-serif;
}

.slogan,
.icn {
  padding-left: 30px;
}
