:root {
  --fundo: #f4f4f4;
  --fonte: #141414;
  --cor-1: #ff3300;
  --cor-2: #dc6300;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fundo: #141414;
    --fonte: #f4f4f4;
    --orng1: #ff3300;
    --orng2: #dc6300;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  font-family: "Bebas Neue", sans-serif;
  margin: 0px;
  color: var(--fonte);
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: var(--fonte);
}

.spacing {
  letter-spacing: 0.05rem;
}
