html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  font-family: "Bebas Neue", sans-serif;
  margin: 0px;
  color: var(--fonte);
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: var(--fonte);
}

.spacing {
  letter-spacing: 0.05rem;
}
