.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px 20px 40px;
  background-color: var(--fundo);
}

.left {
  display: flex;
  align-items: center;
}

.left h1 {
  margin-right: 20px;
  font-size: 24px;
}

.right ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.right li {
  font-size: 1.6rem;
  margin-left: 15px;
  display: inline;
}

.right a {
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.noncontac:hover {
  color: var(--cor-2);
}

.title {
  display: flex;
  align-items: center;
}

.title h1 {
  font-size: 2.5rem;
}

.button {
  border: var(--cor-1) solid 2px;
  border-radius: 5px;
  transition: 0.3s;
  background-color: var(--cor-1);
}

.button a {
  color: var(--fundo);
  font-weight: lighter;
}

.button:hover {
  border: var(--cor-2) solid 2px;
  background-color: var(--cor-2);
  cursor: pointer;
}

.button:active {
  border: var(--fonte) solid 1px;
  background-color: var(--fonte);
}

.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 4.5px;
  left: 0px;
  right: 6px;
  bottom: 1px;
  background-color: #141414;
  -webkit-transition: 0.4s;
  transition: 1s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  background-image: url("/media/light.svg");
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #f4f4f4;
}

input:focus + .slider {
  box-shadow: 0 0 1px #f4f4f4;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background-image: url("/media/dark.svg");
}
