/* Estilos gerais para as seções principais */
.main-page,
.services,
.portfolio,
.aboutus {
  padding: 60px;
  position: relative;
  background-color: var(--fundo);
  color: var(--fonte);
}

/* Estilo para o detalhe antes de certos elementos */
.detail::before {
  content: "";
  background: linear-gradient(
    180deg,
    rgba(220, 99, 00, 1) 0%,
    rgba(255, 51, 0, 1) 100%
  );
  position: absolute;
  border-radius: 2px;
}

/* Estilos específicos para a seção de serviços */
.services {
  display: grid;
  grid-template-columns: 20rem auto;
  justify-items: center;
  justify-content: space-between;
}

/* Estilos específicos para a seção de portfólio */
.portfolio {
  display: grid;
  grid-template-columns: auto 25rem;
  justify-items: center;
  justify-content: space-between;
}

/* Estilos específicos para a seção sobre nós */
.aboutus {
  display: grid;
  grid-template-columns: 30rem auto;
  justify-items: center;
  justify-content: space-between;
}

/* Estilos para os títulos das seções */
.services h1,
.aboutus h1,
.portfolio h1 {
  font-size: 12rem;
  word-break: break-all;
  line-height: 0.8;
}

/* Estilo para a classe service-r */
.service-r {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

/* Estilos para os boxes de serviço */
.serv-box {
  width: 210px;
  height: 360px;
  position: relative;
  border: 1px solid #ff3300;
  border-radius: 20px;
  margin-left: 20px;
}

.serv-box h2 {
  margin-left: 20px;
}

/* Estilo para o detalhe antes dos boxes de serviço */
.serv-box .detail::before {
  left: -5px;
  top: 185px;
  width: 10px;
  height: 30px;
  border-radius: 4px;
}

/* Efeitos de hover e active para os boxes de serviço */
.serv-box:hover {
  border: 1px solid #dc6300;
  box-shadow: 4px 4px 4px #dc6300;
  transition: 0.2s;
}

.serv-box:active {
  box-shadow: 2px 2px 2px #ff3300;
  transition: 0.2s;
  border: 1px solid #ff3300;
}

/* Estilos para os parágrafos dentro dos boxes de serviço e soon */
.serv-box p,
.soon p {
  margin: 20px;
  font-size: 0.88rem;
}

/* Estilos para as classes service-l, prt-r e abt-l */
.service-l,
.prt-r,
.abt-l {
  z-index: 1;
}

/* Estilo específico para a classe abt-r */
.abt-r {
  position: relative;
  width: 70rem;
  height: 2rem;
  text-align: justify;
  font-size: 1.5rem;
  top: 4rem;
}

/* Estilos para os detalhes antes das classes service-l, prt-r e abt-l */
.service-l::before,
.prt-r::before,
.abt-l::before {
  content: "";
  width: 18.75rem;
  height: 18.75rem;
  position: absolute;
  z-index: -1;
}

.service-l::before {
  background-image: url("/media/serv-det.svg");
  top: 8rem;
  left: 0.78em;
}

.prt-r::before {
  background-image: url("/media/serv-det-inv.svg");
  top: 9rem;
  left: 7.048em;
}

.abt-l::before {
  background-image: url("/media/serv-det.svg");
  top: 8rem;
  left: 0.78em;
}

/* Estilos para a classe soon */
.soon {
  width: 210px;
  height: 360px;
  position: relative;
  border-radius: 20px;
}

/* Estilo para o detalhe antes da classe s-det dentro de soon */
.soon .s-det::before {
  content: "";
  left: -5px;
  top: 185px;
  width: 10px;
  height: 30px;
  border-radius: 4px;
  background: linear-gradient(
    180deg,
    rgba(14, 14, 14, 1) 0%,
    rgba(180, 180, 180, 1) 100%
  );
  position: absolute;
}

/* Estilos para os títulos e parágrafos dentro da classe soon */
.soon h2,
.soon p {
  margin-left: 20px;
}

/* Ajuste de line-height específico para a seção aboutus */
.aboutus h1 {
  line-height: 0.87em;
}
