
.main-page,
.services,
.portfolio,
.aboutus {
  padding: 60px;
  position: relative;
  background-color: var(--fundo);
  color: var(--fonte);
}

.detail::before {
  content: "";
  width: 4.5px;
  height: 20px;
  left: 52.5px;
  background: linear-gradient(
    180deg,
    rgba(220, 99, 00, 1) 0%,
    rgba(255, 51, 0, 1) 100%
  );
  position: absolute;
  border-radius: 2px;
}
