 <!-- Rodapé do site -->
  <footer class="footer spacing" id="footer">
    <div class="slogan spacing">
      <h3 class="subslogan">Não é só código,</h3>
      <h1>
        Nós <strong>FORJAMOS</strong>.
      </h1>
    </div>
    <div class="social-media">
      <h2>Siga-nos</h2>
      <!-- Links para redes sociais -->
      <a href="https://instagram.com" target="_blank" class="social-button">
        <i class="fab fa-instagram" style="font-size: 24px;"></i>
      </a>
      <a href="https://linkedin.com" target="_blank" class="social-button">
        <i class="fab fa-linkedin" style="font-size: 24px;"></i>
      </a>
      <a href="https://github.com" target="_blank" class="social-button">
        <i class="fab fa-github" style="font-size: 24px;"></i>
      </a>
    </div>
    <div class="contact-info">
      <h2>Contato</h2>
      <p>Email: contato@forgegenius.tech</p>
      <p>Telefone: (11) 1234-5678</p>
    </div>
    <div class="copyright">
      <p>&copy; {% now "Y" %} ForgeGenius_Tech. Todos os direitos reservados.</p>
    </div>
  </footer>